<div class="conatiner profile">
<div class="card mb-0" style="max-width: 1000px; height: fit-content;">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="https://images.hdqwalls.com/wallpapers/katherine-langford-smile-mi.jpg" class="profile-img" alt="...">
        <div> &nbsp; &nbsp;
        <button type="submit" class="btn btn-warning  btn-sm" >Edit Photo</button>&nbsp;
        <button type="submit" class="btn btn-warning  btn-sm" >Edit Profile</button>
        </div>
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Id excepturi architecto laboriosam pariatur commodi fugiat nisi mollitia, facere reprehenderit aliquam impedit accusantium ipsa <strong style="color:dodgerblue"> loearome@90@gmail.com</strong> Nostrum esse iusto placeat mollitia deserunt nihil.</p>
          <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
          <button type="submit" class="btn btn-success" routerLink="/">Agree</button>&nbsp;&nbsp; &nbsp;&nbsp; 
          <button type="submit" class="btn btn-success" routerLink="/registration">Back</button>
        </div>
      </div>
    </div>
  </div>
</div>
